* {
  padding: 0;
  margin: 0;
}

body {
  background: #f2f2f2;
  height: 100vh;
  color: white;
}

h1 {
  color: #000000;
  font-family: Poppins;
  font-weight: bolder;
  font-size: 3em;
}

p {
  color: #000000;
  font-family: Public Sans;
  font-size: 1em; 
}